.vscode/*

!.vscode/launch.json
!.vscode/c_cpp_properties.json
!.vscode/settings.json

audio_extraction.py

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

